body{
    padding: 0;
    margin: 0;
}  
*{
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 80%;
    }
}
.main{
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1200px) {
        width: 100%;       
    }
    @media (min-width: 1200px) {
        width: 1200px;       
    }

    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
    .board-wrapper
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        #board
        {
            width: 80%;
        }
        .button-wrapper{
            width: 50%;
            padding: 1.4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            button{
                border: none;
                background-color: #6C9C40;
                padding: 0.3rem 1rem;
                border-radius: 1rem;
                color: #fff;
                &:hover{
                    background-color: #4a7226;
                }
            }
        }
    }
    
    .inf-area{
        width: 30%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            font-size: 1.7rem;
            display: block;
            height: 20%;
        }
        #pgnview{
            overflow-y: scroll;
            height: 80%;
            width: 100%;
            padding: 1.2rem;
            font-size: 1.3rem;
            border: #000 1px solid;
        }
    }
    
}